server:
  port: 8080

jwt:
  secret: ${JWT_SECRET:THIS_IS_A_DEV_ONLY_SECRET_CHANGE_IN_PROD}
  expiration: 86400000

spring:
  application:
    name: skillswap

  datasource:
    url: jdbc:postgresql://localhost:5432/skillswap_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  jackson:
    serialization:
      indent_output: true

logging:
  level:
    org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping: DEBUG
